.navbar {
  width: 100%;
  height: 78px;
  padding: 0 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;

  background: rgba(13, 17, 23, 0.72);
  backdrop-filter: blur(16px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.08);
}

.logo {
  display: flex;
  align-items: center;
  gap: 14px;
  text-decoration: none;
  cursor: pointer;
}

.logo-icon {
  width: 42px;
  height: 42px;
  border-radius: 12px;
  background: linear-gradient(135deg, #7c3aed, #a855f7);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: 800;
  font-size: 24px;
}

.logo h2 {
  font-size: 18px;
  color: white;
  line-height: 1;
}

.logo p {
  font-size: 11px;
  color: #c4b5fd;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.menu {
  display: flex;
  gap: 32px;
}

.menu a {
  color: #e5e7eb;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  transition: .3s;
}

.menu a:hover {
  color: #a78bfa;
}

.menu-toggle {
  display: none;
  width: 42px;
  height: 42px;
  border: 1px solid rgba(255,255,255,.16);
  border-radius: 10px;
  background: rgba(255,255,255,.06);
  color: white;
  font-size: 24px;
  cursor: pointer;
}

.nav-actions {
  display: flex;
  align-items: center;
  gap: 12px;
}

.ia-btn {
  padding: 11px 18px;
  border-radius: 30px;
  background: linear-gradient(135deg,#7c3aed,#a855f7);
  color: white;
  text-decoration: none;
  font-size: 13px;
  font-weight: 600;
}

.search-btn {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  border: 1px solid rgba(255,255,255,.2);
  background: transparent;
  color: white;
  font-size: 22px;
  cursor: pointer;
}

/* ===========================
   CELULAR
=========================== */

@media (max-width:900px){

  .navbar{
    padding:0 18px;
  }

  .logo h2{
    font-size:15px;
  }

  .logo p{
    font-size:9px;
  }

  .menu-toggle{
    display:flex;
    align-items:center;
    justify-content:center;
  }

  .menu{

    position:absolute;
    top:78px;
    right:15px;
    left:auto;

    width:180px;

    display:none;
    flex-direction:column;
    gap:6px;

    padding:10px;

    border-radius:14px;

    background:rgba(13,17,23,.98);
    backdrop-filter:blur(16px);

    border:1px solid rgba(255,255,255,.08);

    box-shadow:0 12px 30px rgba(0,0,0,.45);
  }

  .menu.active{
    display:flex;
  }

  .menu a{
    width:100%;
    padding:9px 12px;
    border-radius:8px;
    font-size:14px;
    font-weight:500;
  }

  .menu a:hover{
    background:rgba(124,58,237,.18);
    color:#fff;
  }

  .ia-btn{
    display:none;
  }

}