<footer class="footer">
  <div class="footer-container">

    <div class="footer-brand">
      <div class="logo-footer">
        <span>V</span>
        <div>
          <h3>Voces Sin Fronteras</h3>
          <p>Reportaje multimedia</p>
        </div>
      </div>

      <p class="footer-text">
        Un reportaje sobre la migración de jóvenes ecuatorianos:
        historias, datos, testimonios, audios, videos e IA.
      </p>
    </div>

    <div class="footer-column">
      <h4>Navegación</h4>
      <a href="#inicio">Inicio</a>
      <a href="#contexto">Contexto</a>
      <a href="#datos">Datos</a>
      <a href="#historias">Historias</a>
      <a href="#multimedia">Multimedia</a>
      <a href="#fuentes">Fuentes</a>
      <a href="#autores">Autores</a>
    </div>

    <div class="footer-column">
      <h4>Universidad</h4>
      <p>Universidad Técnica del Norte</p>
      <p>Carrera de Comunicación</p>
      <p>Reportaje multimedia</p>
      <p>Ibarra, Ecuador</p>
      <p>30 de junio de 2026</p>
    </div>

    <div class="footer-column">
      <h4>Síguenos</h4>

      <div class="social-links">

        <a
          href="https://youtube.com/@vocessinfronteras2026?si=UlsLXBNYtqQPIKEx"
          target="_blank"
          rel="noopener noreferrer">
          ▶ YouTube
        </a>

        <a
          href="https://x.com/Vocessinfron"
          target="_blank"
          rel="noopener noreferrer">
          𝕏 X
        </a>

        <a
          href="https://www.tiktok.com/@voces.sin.fronter4?_r=1&_t=ZS-97f0R2QqqeI"
          target="_blank"
          rel="noopener noreferrer">
          ♪ TikTok
        </a>

        <a
          href="https://www.instagram.com/vocessinfronteras450?igsh=NHlsNTJ3aml3c2Nu"
          target="_blank"
          rel="noopener noreferrer">
          📸 Instagram
        </a>

        <a
          href="https://www.facebook.com/share/1BRMsnMv8h/"
          target="_blank"
          rel="noopener noreferrer">
          👍 Facebook
        </a>

      </div>
    </div>

  </div>

  <div class="footer-bottom">
    <p>
      © 2026 Voces Sin Fronteras · Universidad Técnica del Norte · Todos los derechos reservados. SHAMS P.S.
    </p>
  </div>
</footer>